.tooltip {
  --neu-distance: var(--neu-distance-md);
  --neu-blur: var(--neu-blur-md);

  background-color: var(--neu-bg-base);
  color: var(--mantine-color-text);
  border: none;
  box-shadow:
    var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
}
