.root {
  --neu-distance: var(--neu-distance-sm);
  --neu-blur: var(--neu-blur-sm);

  background-color: var(--neu-bg-base);
  border: none;
  border-radius: var(--mantine-radius-xl);
  box-shadow:
    inset var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    inset calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
  overflow: hidden;
}

.section {
  border-radius: var(--mantine-radius-xl);
  box-shadow:
    var(--neu-distance-xs) var(--neu-distance-xs) var(--neu-blur-xs) var(--neu-shadow-dark),
    calc(-1 * var(--neu-distance-xs)) calc(-1 * var(--neu-distance-xs)) var(--neu-blur-xs) var(--neu-shadow-light);
}
