.root {
  border: none;
  height: 2px;
  background: linear-gradient(to right, var(--neu-shadow-dark), var(--neu-shadow-light));
}

/* Vertical orientation */
.root[data-orientation='vertical'] {
  height: auto;
  width: 2px;
  background: linear-gradient(to bottom, var(--neu-shadow-dark), var(--neu-shadow-light));
}
