.root {
  background-color: var(--neu-bg-base);
}

.header {
  --neu-distance: var(--neu-distance-md);
  --neu-blur: var(--neu-blur-md);

  background-color: var(--neu-bg-base);
  border: none;
  box-shadow: 0 var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark);
}

.navbar {
  --neu-distance: var(--neu-distance-md);
  --neu-blur: var(--neu-blur-md);

  background-color: var(--neu-bg-base);
  border: none;
  box-shadow: var(--neu-distance) 0 var(--neu-blur) var(--neu-shadow-dark);
}

.main {
  background-color: var(--neu-bg-base);
}

.footer {
  --neu-distance: var(--neu-distance-md);
  --neu-blur: var(--neu-blur-md);

  background-color: var(--neu-bg-base);
  border: none;
  box-shadow: 0 calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-dark);
}
