.root {
  --neu-distance: var(--neu-distance-md);
  --neu-blur: var(--neu-blur-md);

  background-color: var(--neu-bg-base);
  box-shadow:
    inset var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    inset calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
}
