.root {
  --neu-distance: var(--neu-distance-sm);
  --neu-blur: var(--neu-blur-sm);

  background-color: var(--neu-bg-base);
  border: none;
}

.raised {
  box-shadow:
    var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
}

.inset {
  box-shadow:
    inset var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    inset calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
}

.flat {
  box-shadow: none;
}
