.dropdown {
  --neu-distance: var(--neu-distance-lg);
  --neu-blur: var(--neu-blur-lg);

  background-color: var(--neu-bg-base);
  border: none;
  box-shadow:
    var(--neu-distance) var(--neu-distance) var(--neu-blur) var(--neu-shadow-dark),
    calc(-1 * var(--neu-distance)) calc(-1 * var(--neu-distance)) var(--neu-blur) var(--neu-shadow-light);
}
